.wrap{
	min-height: 158px;
	max-width: 550px;
	background-color: white;
	margin-bottom: 15px;
	background-color: white;
	border: 1px solid #c6c7c967;
	border-radius: 4px;
	padding: 15px 20px;
}

.bordNone{
	border-top: 0px solid;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.wrap img{
	border-radius: 50%;
}

.img{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.img div{
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	color: #2a5885;
	cursor: pointer;

}

.img div span{
	font-weight: normal;
}

.nav{
	display: flex;
	column-gap: 20px;
	margin-top: 15px;
	border-top: 1px solid #c6c7c967;
	padding-top: 10px;
}

.nav img{
	width: 24px;
	cursor: pointer;
	opacity: 75%;

}

.nav img:hover{
	opacity: 100%;
}

.imgSmall{
	width: 50px;
	height: 50px;
}