.content{
	display: flex;
	column-gap: 13px;
	width: 100%;
}

.block{
	background-color: white;
	border: 1px solid #c6c7c967;
	border-radius: 4px;
}

.img{
	width: 230px;
	height: 383px;

}

.descr{
	width: 550px;
	height: 256px;
}

.post{
	display: flex;
	align-items: center;
	padding: 8px 20px;
	margin-top: 13px;
	width: 550px;
	height: 52px;
}

.post img{
	border-radius: 50%;
	width: 28px;
	margin-right: 15px;
}

.posts{
	margin-top: 13px;
	width: 550px;
	margin-bottom: -1px;

}

.img_inner{
	padding: 15px;
	padding-bottom: 10px;
}

.edit{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 30px;
	margin: 0 15px;
	background-color: rgb(229, 235, 241);
	color: rgb(85, 103, 125);
	font-size: 12.5px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: normal;
}

.edit:hover{
	color: rgba(80, 108, 143, 0.801);
}

.spec{
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8px;
	width: 100%;
}

.spec_inner{
	display: flex;
	align-items: center;
	width: 100%;
	align-items: left;
	height: 36px;
	color: rgb(129, 140, 153);
	font-weight: normal;
	padding: 0px 15px;
}

.spec_inner:hover{
	background-color: #F5F6F8;
}
.spec_inner:hover svg{
	color: rgb(88, 100, 114);
}


.svg svg{
	color: rgb(129, 140, 153);
	margin-right: 10px;
}

.top{
	padding: 20px;
}

.name{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 400;
}

.name span{
	font-size: 12.5px;
	color: #939393;
	font-weight: normal;
}

.status{
	width: 100%;
	margin-top: 5px;
	font-size: 12.5px;
	color: #939393;
	font-weight: normal;
	padding-bottom: 15px;
	border-bottom: 1px solid #9393933b;
}

table{
	margin-top: 15px;
	width: 70%;
}

tr{
	width: 100%;
	height: 22px;
}

tr td:first-child{
	color: #818c99;
	font-weight: normal;
}

tr td:last-child{
	color: #2a5885;
}

.show_wrap{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	top: 17px;
	height: 34px;
	border-radius: 7px;
	cursor: pointer;
	margin-bottom: 5px;
}
.show_wrap:hover{
	background-color: #F5F6F8;
}

.show{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #366799;
	/* padding-right: 63px; */

}

.bottom{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 40px;
	border-top: 1px solid #9393933b;
	padding-bottom: 0;
	height: 57px;
}

.count{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 19px;
	font-weight: 500;
	color: #2a5885;
	row-gap: 10px;
}

.count div{
	font-weight: 400;
	font-size: 13px;
}

input{
	width: 100%;
	height: 100%;
	border: 0;
}

input:focus{
	outline: none;
}

.post_top{
	display: flex;
	column-gap: 20px;
	padding: 0 20px;
	font-size: 13px;
	height: 46px;
	border-bottom: 1px solid #d1d2d479;
}

.post_top div{
	display: flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
}

.post_top div:hover{
	border-bottom: 2px solid #d1d2d43f;
	border-top: 2px solid transparent;
}

.post_top .active{
	border-bottom: 2px solid #5181b8;
	border-top: 2px solid transparent;
}

.post_top .active:hover{
	border-bottom: 2px solid #5181b8;
	border-top: 2px solid transparent;
}

.friends{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr; */
	row-gap: 10px;

}

div.content > div:nth-child(1) > div.wrap_friends.block> div:nth-child(1){
	margin-bottom: 10px;
}

div.content > div:nth-child(1) > div.wrap_friends.block> div:nth-child(1) span{
	color: #939393;
	font-weight: normal;
}

.wrap_friends{
	padding: 15px;
	margin-top: 15px;
}